<footer class="bg-gray-800 px-5 mx-auto flex items-center">
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200">© 2022 RurAloc —
      <a class="text-sm text-blue-600 hover:underline" href="https://www.ufrrj.br" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@ufrrj</a>
    </p>
</footer>