<header class="bg-gray-200 px-5 mx-auto flex items-center">

<img width="80px" src="https://user-images.githubusercontent.com/13512651/159716533-2317a606-f629-45fd-96dd-56786f0c5951.png"></img>
<span class="ml-3 text-xl text-gray-800">RurAloc</span>
<nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
  <a class="text-gray-800 mr-5 hover:text-gray-500" href="{{ route('sessions.destroy') }}">Feedback</a>
  <a class="text-gray-800 mr-5 hover:text-gray-500" href="{{ route('sessions.destroy') }}">Logout</a>
</nav>
    
</header>