<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RuraLoc</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  @!component('layouts/partials/header-mapa')
  <main>
    <section class="text-gray-600 body-font relative">
    
    </section>
  </main>
</body>
</html>
